html { box-sizing: border-box; }
*, *:before, *:after {
box-sizing: inherit;
}   

body {
   padding: 0;
   margin: 0;
}
header {
   color: white;         
}
header h2 {
   font-size: 36px;
   margin: 0.5em 0 0 0.5em ;
}
header nav {
   font-size: 48px;
   margin: 0.5em 0.5em 0 0;
}

 
main form {
   width: 40em;
   height: 80vh;   
   color: white;            
}
main label {
   display: inline-block;
   height: 1.75em;
   padding: 0.25em 0.25em;
   font-size: 32px;
   background-color: teal;
}
input[type="search"], input[type="submit"] {
   display: inline-block;   
   height: 3.5em;
   padding: 0.25em;
   font-size: 18px;
}
input[type="submit"] {
   color: white;
   background-color: #DA127D;
   border: 0;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;      
}

/* add your styles below */

/* the filename for the background image is images/P6120375.jpg  */

body{
    background-image: url('images/P6120375.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    display: flex;
    justify-content: center;
    align-items:center;

}

input[type="search"] {
    flex-basis: 36em;
}

input[type="submit"] {
    flex-basis: 10em;
}

label{
    flex-basis: 16em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 251px));
}

g{
    background-color: #DA127D;
    min-height: 200px;
}